.post-card {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);;
    padding: 1.5rem;
    margin: 1rem 0;
}

.post-author {
    margin-bottom: 0.5rem;
    color: #646464;
}

.post-delete-icon {
    fill: red;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}