.post-textarea {
    outline: none;
    border: none;
    padding: 0.2rem;
    border-bottom: 2px solid #9f9f9f;
    font-size: 1rem;
    transition: border-bottom-color 100ms;
    resize: none;
    margin: 1rem 0;
}

.row-public-checkbox {
    margin: 1rem 0
}

.post-textarea:focus {
    border-bottom: 2px solid black;
}